# Introduction to Pandas Library

Created by: Moafia Arif\
Date: 04/02/2024\
email: moafiaarif@gmail.com

## Import Library

In [1]:
import pandas as pd

## Uploading Excel File

In [2]:
df = pd.read_excel("panda.xlsx")

## Data Processing

### .head()
to show first five rows  of a dataframe.

In [3]:
df.head()

  Height  Weight Favourite Dish
0    5.8     101  Chicken Pulao
1    6.2      92        Biryani
2    5.9      62  Karahi Ghosht
3    5.9      95  Chicken Pulao
4    5.9      55  Chicken Pulao

### .tail()
to show last five rows  of a dataframe.

In [4]:
df.tail()

   Height  Weight Favourite Dish
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

### .shape
to check total rows and columns in the dataset

In [6]:
df.shape

(87, 3)

### .columns()
columns of dataFrame

In [7]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

### .dtypes
to check datatypes of columns in the dataset

In [8]:
df.dtypes

Height            object
Weight             int64
Favourite Dish    object
dtype: object

### .describe
to  show statistics of data

In [10]:
df.describe()

           Weight
count   87.000000
mean    70.459770
std     16.753899
min     25.000000
25%     60.000000
50%     70.000000
75%     80.000000
max    125.000000

### .values_count
All unique values with their count

In [11]:
df["Favourite Dish"].value_counts()

Favourite Dish
Biryani          40
Chicken Pulao    15
Karahi Ghosht    15
Pasta             9
Chapel Kaba       8
Name: count, dtype: int64

### .isnull
shows how many null values

In [12]:
df.isnull()

    Height  Weight  Favourite Dish
0    False   False           False
1    False   False           False
2    False   False           False
3    False   False           False
4    False   False           False
..     ...     ...             ...
82   False   False           False
83   False   False           False
84   False   False           False
85   False   False           False
86   False   False           False

[87 rows x 3 columns]